# Topic 1 Get Started in Python

In [0]:
# Comment
# Highlight and Ctrl / to toggle comment

print("hello")
# print("hello2")
# print("hello3")
# print("hello4")

# Topic 2 Data Types

In [0]:
# Python codes run sequentially 
# Python syntax is case sensitive
# Python is very sensitive to spacing in front

a = 1
b = 2
# print(a+b) -> Indentation Error
print(a+b)

## Multiple Assignment

In [0]:
a,b=1,2
a = b
b = a+b
print('a = ',a)
print('b = ',b)

In [0]:
# Exercise
# Enter your answer in Google Classroom Quiz

a,b=1,2
a,b = b,a+b
print('a = ',a)
print('b = ',b)

## Formating Numbers

In [0]:
# To print in a formatted way
a = 1
b = 2
print("{}+{}={}".format(a,b,a+b))

In [0]:
# To format the decimal places
a = 1.222
b = 2.333
print("{:0.1f}+{:0.1f}={:0.1f}".format(a,b,a+b))

In [0]:
# To arrange the location

a = 1.222
b = 2.333
print("{1:0.1f}+{0:0.1f}={2:0.1f}".format(a,b,a+b))

In [0]:
# Exercise

a = 4.444
b = 5.555
c = 6.6666
d = a + b +c

print("{1:0.2f}+{2:0.2f}+{0:0.1f}={3:0.0f}".format(a,b,c,d))

## String

In [0]:
# Concatenate two strings
# Python support single and double quotes. But the quotation has to be consistent.

a = "Hello"
b = " World"
print(a+b)

In [0]:
# Change the casing in string

a = "Hello".upper()
print(a)
b = " World".lower()
print(b)
print(a+b)

In [0]:
# Replacing the word

a = "Hello"
b = " World"
c = a+b
d = c.replace("World","Alfred")
print(d)

In [0]:
# Format the string output

name = "Alfred"
print("My name is {}".format(name))

In [0]:
# Exercise

country ="france".upper()
capital ="paris".capitalize()

print("The capital of {} is {}".format(country,capital))

In [0]:
# Remove the spacing in string

a = "         Hello".strip()
b = " World"
print(a+b)

In [0]:
# Split the string into words

a = "Today is a nice day"
b = a.split()
print(b)

In [0]:
# Add separator to split the strings

a = "The answer = 5 "
b = a.split('=')
print(b)

In [0]:
# Join back the strings

c = "=".join(b)
print(c)

In [0]:
# Exercise

a = 'abc@def.com'

b = a.split("@")
print(b)
c = "/".join(b)
print(c)

## List

In [0]:
a = ['apple','orange','banana','durian']
print(a)

In [0]:
a[0]

In [0]:
a[2]

In [0]:
a[0:3]

In [0]:
a[0:4]

In [0]:
a[2:4]

In [0]:
a[-1]

In [0]:
a[-2]

In [0]:
a.index('banana')

In [0]:
a = ['apple','orange','banana','durian']
a.append('mango')
a

In [0]:
a.insert(2,'strawberry')
a

In [0]:
a.remove('banana')
a

In [0]:
a.pop()
a

In [0]:
a.pop(0)
a

In [0]:
a = ['apple','orange','banana','durian']
b = a.copy()
b

In [0]:
c = a 
c

In [0]:
c.pop()
c

In [0]:
a

In [0]:
b

In [0]:
a.reverse()
a

In [0]:
a.append('orange')
a

In [0]:
a.count('orange')

In [0]:
# Exercise 
# Enter your answer in Google Classroom Quiz

letters =['A','C','C','A','T','T','G','A','C','A']

letters2 = letters.copy()
letters2.remove('G')
letters2.insert(3,'A')
letters2.reverse()
letters2

## Tuple

In [0]:
a = ('apple','orange','banana','durian')
a

In [0]:
a[0]

In [0]:
a[1]

In [0]:
a[-1]

In [0]:
a.append('mango')

## Dictionary

In [0]:
a = {'France':'Paris','Germany':'Berlin','Italy':'Roman'}

In [0]:
a['Germany']

## Set

In [0]:
a = {2,3,4}
a

In [0]:
# Exercise
# Enter your answer in Google Classroom Quiz

a = {2,3,4}
b = {3,2,2,4,4}
b

In [0]:
sent = "Peter reads a book on a table"
words = sent.split()
words

In [0]:
vocab = set(words)
vocab

In [0]:
len(vocab)

# Topic 3 Operators

In [0]:
# Arithmetic Operators

7%3

In [0]:
# Compound Operators

a = 1
#a = a + 2
a += 2
a

In [0]:
# Comparison Operators
3>2

In [0]:
3==2

In [0]:
3!=2

In [0]:
# Membership Operators

a = ['apple','orange','banana','durian']
'apple' in a

In [0]:
'mango' in a

In [0]:
# Logical Operators

True or False

In [0]:
True and False

In [0]:
# Exericse
# Enter your answer in Google Classroom Quiz

a = 1; b = 2;
(a == 1) and not(b > 3)

In [0]:
(a == 1)

In [0]:
b > 3

In [0]:
not(b > 3)

In [0]:
True and True

# Topic 4 Control Structures

## Conditional

In [0]:
# Conditional

a = 3
b = 3
if (a<b):
    print('a is small than b')
elif (a>b):
    print('a is larger than b')
else:
    print('a is same as b')

In [0]:
# Exercise
grade = input('What is your grade :' )
grade = grade.upper()
if grade=='A':
    print('Excellent!')
elif grade == 'B':
    print('Well Done')
elif grade=='C':
    print('Work harder')
else:
    print("Sorry I don't know your grade")

## Ternary Operator

In [0]:
# Ternary Operator

order = 10
discount = 25 if order>100 else 0
discount

In [0]:
# Exercise
# Enter your answer in Google Classroom Quiz

a = 3
b = 5
c = a if a>b else b
c

## While Loop

In [0]:
# While loop
a = 1
while (a<10):
    print(a)
    a += 1

In [0]:
# Exercise
a,b=0,1
while (b<100):
    a,b = b,a+b
    print(b)

In [0]:
# Exercise
# Enter your answer in Google Classroom Quiz

a,b=0,1
while (b<100):
    a = b
    b = a +b
    print(b)

## For Loop

In [0]:
# For loop
a = ['apple','orange','banana','durian']

for i in a:
    print(i)

In [0]:
for i in range(1,20,2):
    print(i)

In [0]:
# Exercise
# Enter your answer in Google Classroom Quiz

a = range(2,12,2)
list(a)

In [0]:
# Exercise

a = []

for i in range(1,11):
    a.append(i*i)
a

## Enumerate

In [0]:
# Enumerate over Multiple Sequences

person = ['Alfred','Ally','Belinda']
height = [170,160,155]

for i,name in enumerate(person):
    h = height[i]
    print("{} height is {}cm".format(name,h))

## Zip

In [0]:
#Zip
person = ['Alfred','Ally','Belinda']
height = [170,160,155]

c = zip(person,height)
for name,h in c:
    print("{} height is {}cm".format(name,h))

In [0]:
# Exercise

person = ['Alfred','Ally','Belinda']
height = [170,160,155]
weight = [60,55,45]

c = zip(person,height,weight)
for name,h,w in c:
    print("{} height is {}cm and weight is {}kg".format(name,h,w))

## Break and Continue

In [0]:
#Break

for i in range(10):
    if i==4:break
    print(i)

In [0]:
#Continue

for i in range(10):
    if i==4:continue
    print(i)

# Topic 5 Function

In [0]:
def f(x):
    return x*x

In [0]:
f(3)

In [0]:
f(5)

In [0]:
def fare(d):
    book=2.0
    start=3.0
    cost=1.0
    fare=book+start+d*cost
    return fare

In [0]:
fare(10)

## Mutlple Outputs

In [0]:
def f(x):
    return x*x,2*x

In [0]:
f(5)

In [0]:
# Exercise

def grocery(order):
    discount = 25 if order > 200 else 0
    disc_amt = discount*order/100
    tax = 0.07*(order - disc_amt)
    return disc_amt,tax

In [0]:
order = input('How much is your. order')
order = float(order)
discount,tax = grocery(order)
print('The discount is ${}'.format(discount))
print('The tax is ${}'.format(round(tax,2)))

## Multiple Arguments

In [0]:
def f(x,y):
    return x*y

In [0]:
f(2,3)

In [0]:
f(2)

## Default Argument

In [0]:
def f(x,y=3):
    return x*y

In [0]:
f(2)

In [0]:
def f(x=3,y=3):
    return x*y

In [0]:
f()

In [0]:
f(y=5)

## Variable Argument

In [0]:
def sum(a,*b):
    sum = a
    for i in b:
        sum = sum + i
    return sum

In [0]:
sum(2,3,4,5,6,7,8,9,10)

In [0]:
# Exercise

def min(a,*b):
    m = a
    for i in b:
        if i<m: m=i
    return m

In [0]:
min(7,4,8,9,10)

## Lambda Function

In [0]:
def f(x):
    return x*x

In [0]:
a = lambda x:x*x

In [0]:
a(4)

In [0]:
# Exercise

f = lambda x,y: 10*x+y

def g(f,x,y=0):
  return f(x,y);

In [0]:
g(f,4)

## Map

In [0]:
a = [1,2,3,4]

b = map(lambda x:2*x,a)
list(b)

In [0]:
# Exercise

f = lambda x,y:10*x+y
x = [0,1,2,3]
y = [2,4,6,8]

In [0]:
b = map(f,x,y)
list(b)

## Filter

In [0]:
a = [1,2,3,4,5,6,7,8]

b = filter(lambda x:x>3,a)
list(b)

In [0]:
# Exercise
x = [0,1,-4, 2,-6,3]

b = filter(lambda x:x>=0,x)
list(b)

# Topic 6 Modules and Packages

In [0]:
import math

In [0]:
math.sin(0.5)

In [0]:
math.pi

In [0]:
import math as m

m.sin(0.5)

In [0]:
from math import *

sin(0.5)

In [0]:
from math import sin,pi

sin(pi/2)

In [0]:
import time

print(sin(pi/2))
time.sleep(10)
print(cos(pi/2))

In [0]:
import random

In [0]:
die = random.choice([1,2,3,4,5,6])
die

In [0]:
import urllib.request
with urllib.request.urlopen('http://python.org/') as f:
   html = f.read()

In [0]:
print(html)

## Numpy Demo

In [0]:
import numpy as np

In [0]:
a = [3,4,5,6]
b = [6,5,4,3]
#a+b
#a-b

In [0]:
a1 = np.array(a)
b1 = np.array(b)
#a1+b1
a1-b1

## Matplotlib Demo

In [0]:
import matplotlib.pyplot as plt

x = np.linspace(0,4*np.pi,200)
y = np.sin(x)
plt.plot(x,y)

In [0]:
- Write a Python function to compute taxi value
        - booking fee is $3.0
        - starting fee is $2.0
        - cost per km is $2 for first 5km
        - cost per km is $1.50 from 5km to 10 km
        - cost per km is $1.00 after 10km
        - if the age is > 60 years old, give 10% discount
- Display the result as "<name>, your tax fare is  is <fare  value in 1 decimal place"
Example

# Practice Session

In [0]:
def fare():
    name = input('What is your name : ')
    d = input('How long is the distance traveled : ')
    d = float(d)
    age = input('How old are you?')
    age = int(age)
    
    if d<5: cost=2.0*d
    if d>=5 and d<10: cost=2.0*5+1.5*(d-5)
    if d>=10: cost= 2.0*5+1.5*5+1.0*(d-10)
        
    book=3.0
    start=2.0
    fare=book+start+cost
    
    if age>=70: fare=0.9*fare
        
    fare=round(fare,1)
    print('{}, your taxi fare is ${}'.format(name,fare))

In [0]:
fare()