# Topic 7 Comprehension & Generators

## List Comprehension

In [0]:
# Create a list in usual Python way
c = []
for i in range(11): 
	c.append(i*i)
print(c)

In [0]:
# List Comprehension
[i*i for i in range(1,11)]

In [0]:
# Create a list in usual Python way
c = []
for i in range(11): 
	if i%2 == 0: continue
	c.append(i*i)
print(c)

In [0]:
# With if clause

[i*i for i in range(1,11) if i%2 != 0]

In [0]:
# Double Loop

[i*j for i in range(1,3) for j in range(1,5)]

## Set Comprehension

In [0]:
set([i*i for i in range(11)])

In [0]:
{i*i for i in range(11)}

## Dict Comprehension

In [0]:
{i:i*i for i in range(111)}

In [0]:
name = ['Ally','Belinda','Steve']
height = [160,158,170]

{name:height for name,height in zip(name,height)}

## Generator Expression

In [0]:
# Problem of List - Inefficient memory storage
# [i*i for i in range(100000)]

sum([i**2 for i in range(20)])

## Next

In [0]:
a = (n*n for n in range(10))

print(next(a))
print(next(a))
print(next(a))
print(next(a))

## Generator Function

In [0]:
# Normal way to write function
def square(n):
	a = []
	for i in range(n):
		a.append(i*i)
	return a

square(10)

In [0]:
# Using Generator function
def square(n):
	for i in range(n):
		yield i*i

square(10)

In [0]:
for i in square(10):
    print(i)

# Topic 8 File and Directory Handling

## OS Module

In [0]:
import os 
os.getcwd()

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
path = '/content/drive/My Drive'
os.chdir(path)
os.getcwd()

In [0]:
path = '/content/drive/My Drive/test'
os.mkdir(path)

In [0]:
with open('/content/drive/My Drive/test/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/content/drive/My Drive/test/foo.txt'

In [0]:
path = '/content/drive/My Drive/test'
os.listdir(path)

In [0]:
len(os.listdir(path))

In [0]:
os.remove('/content/drive/My Drive/test/foo.txt')

In [0]:
path = '/content/drive/My Drive/test'
os.rmdir(path)

## OS Path Module

In [0]:
with open('/content/drive/My Drive/test/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/content/drive/My Drive/test/foo.txt'

In [0]:
path = "/content/drive/My Drive/test/foo.txt"
os.path.dirname(path)

In [0]:
path = "/content/drive/My Drive/test/foo.txt"
dir = os.path.dirname(path)
os.path.join(dir, 'test2')

## File Operations

In [0]:
path = '/content/drive/My Drive/test'
os.chdir(path)
os.getcwd()

In [0]:
f = open('test.txt','w')
for i in range(10):
    f.write('This is line {}\n'.format(i+1))

In [0]:
!cat '/content/drive/My Drive/test/test.txt'

In [0]:
f = open('test.txt','a')
for i in range(10):
    f.write('This is line {}\n'.format(i+10))

In [0]:
!cat '/content/drive/My Drive/test/test.txt'

In [0]:
f.close()
for i in range(10):
    f.write('This is line {}\n'.format(i+10))

In [0]:
with open("test.txt",'w') as f:
	for i in range(10):
		f.write("Hello World {}\n".format(i))

In [0]:
!cat '/content/drive/My Drive/test/test.txt'

In [0]:
f = open("user.txt","r")
for i in f:
	print(i.strip())
f.close()

In [0]:
with open("user.txt",'r') as f:
	for i in f:
		print(i.strip())

In [0]:
for i in open('user.txt','r'): print (i.strip())

In [0]:
import pandas as pd

df = pd.read_csv('test.txt',header=None)
df

# Topic 9 Object Oriented Programming

## Create Class and Object

In [0]:
class Animal:
    color = "black"
    legs = 4
    
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [0]:
dog = Animal()
print(dog.color)
print(dog.legs)
dog.walk()
dog.type()

# dog2 = Animal()
# print(dog2.color)
# print(dog2.legs)

## Initializer

In [0]:
class Animal:

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs
        
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [0]:
spider = Animal('brown',8)
spider.type()

In [0]:
class Person:
     
    def __init__(self,name, height):
         self.name = name
         self.height = height
    
    def disp_height(self):
        print("{} height is {}cm".format(self.name, self.height))

In [0]:
alfred = Person('Alfred',170)
alfred.disp_height()

## Destructor

In [0]:
class Animal:

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs

    def __del__(self):
        print("The animal has destroyed")
        
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [0]:
cat = Animal('white',3)
cat.type()
del cat

## Class vs Instance Variables

In [0]:
class Animal:

    color = 'white'
    legs = 4

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs
    
    def instanceType(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

    def classType(self):
        print('This {} animal has {} legs'.format(Animal.color,Animal.legs))

In [0]:
spider = Animal('brown',8)
spider.instanceType()
spider.classType()

## Inheritance

In [0]:
class Animal:

    def __init__(self,color,legs):
        self.color = color
        self.legs = legs
        
    def walk(self):
        print("walk like an animal")
    
    def type(self):
        print('This {} animal has {} legs'.format(self.color,self.legs))

In [0]:
class Dog(Animal):
    pass

In [0]:
dog = Dog('brown',4)
dog.type()

In [0]:
class Dog(Animal):
    
    def __init__(self,color):
        super().__init__(color,4)
  
    def walk(self):
        print("walk like an dog")
    
    def talk(self):
        print("woof woof woof")

In [0]:
dog = Dog('brown')
dog.type()
dog.walk()
dog.talk()

## Polymerism

In [0]:
class Animal():

	def __init__(self,color,legs):
		self.color = color
		self.legs = legs

	def talk(self):
		print("talk like an animal")

class Dog(Animal):

	def __init__(self,color):
		super().__init__(color,4)
	
	def talk(self):
		print("woof woof woof")

class Cat(Animal):

	def __init__(self,color):
		super().__init__(color,4)
	
	def talk(self):
		print("meow meow meow")

d1 = Dog("white")
c1 = Cat("black")

def sound(any):
	any.talk()

sound(d1)
sound(c1)

# Topic 10 – Database

## SqLite3

In [0]:
import sqlite3

In [0]:
db = sqlite3.connect('school.db')

In [0]:
db.execute('create table student (name text,rank int)')

In [0]:
# Insert Record
db.execute('insert into student (name,rank) values (?,?)',('Belinda',2))
db.execute('insert into student (name,rank) values (?,?)',('Jane',3))
db.execute('insert into student (name,rank) values (?,?)',('Steve',4))
db.execute('insert into student (name,rank) values (?,?)',('Alfred',5))
db.commit()

In [0]:
# Read Record
list = db.execute('select * from student order by name')

for i in list:
	print(i)

In [0]:
# Update Record
db.execute('update student set rank=? where name=?',(5,'Steve'))
db.execute('update student set rank=? where name=?',(4,'Alfred'))

In [0]:
# Read Record
list = db.execute('select * from student order by name')

for i in list:
	print(i)

In [0]:
# Delete Record
db.execute('delete from student where rank=5')

In [0]:
# Read Record
list = db.execute('select * from student order by name')

for i in list:
	print(i)

# Topic 11 – Error Handling Using Exception

In [0]:
a = int(input('Enter an integer : '))
print("You enter ",a)

In [0]:
try:
	a = int(input('Enter an integer : '))
	print("You enter ",a)
except:
	print("Please enter an integer")

In [0]:
try:
	a = int(input('Enter an integer : '))
except ValueError:
	print("Please enter an integer")
else:
   	print("You enter ",a)

In [0]:
try:
	a = int(input('Enter an integer : '))
except ValueError:
	print("Please enter an integer")
else:
   	print("You enter ",a)
finally:
    print("Please try again")

In [0]:
try:
	f = open('test888.txt','r')
except IOError:
    print("file does not exist")

# Topic 12 Introduction to Useful Packages (Optional)

## Numpy

In [0]:
import numpy as np

In [0]:
a = [3,4,5,6]
b = [6,5,4,3]
print(a+b)

a1 = np.array(a)
b1 = np.array(b)
print(a1+b1)

In [0]:
a = [3,4,5,6,7,8]
a1 = np.array(a)
print(a1>5)
b = filter(lambda x:x>5,a)
print(list(b))

## Matplotlib

In [0]:
import matplotlib.pyplot as plt

In [0]:
x = np.linspace(0,4*np.pi,200)
y = np.sin(x)
plt.plot(x,y)
plt.show()

## Pandas

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('subjects.txt')
print(df[df.Students>70])

In [0]:
# Exercise

df = pd.read_csv('subjects.txt')
print(df[df.Classes>10])